<!-- <p>
  burger works!
</p> -->

<section [@layersAnimation]="layersAnimation" class="jello">
   <div id="first"> <app-top-bread> </app-top-bread></div>
    <div id="salad1"> <app-salad> </app-salad> </div>
    <div id="cheese1"> <app-cheese> </app-cheese> </div>
    <div id="meat1"> <app-meat> </app-meat></div>
    <div id="salad2"> <app-salad> </app-salad> </div>
    <div id="cheese2"> <app-cheese> </app-cheese> </div>
    <div id="meat2"> <app-meat> </app-meat></div>
    <div id="last"> <app-bottom-bread> </app-bottom-bread> </div>
</section>
